In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan, 6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
a = pd.Series([1,3,3])
type(a)

pandas.core.series.Series

In [23]:
print("yo")

yo

In [26]:
#documentation calls this a DataFrame - is any 2x2(? can they be more) with dat sets automatically a dataframe?
l = list(range(5))
# type(l) ## list

list

In [ ]:
data = pd.date_range

In [16]:
# data = pd.date_range(['2013-01-01', '2013-01-02'],dtype='datetime64[ns]', freq='D')
# DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
#                '2013-01-05', '2013-01-06'],
#               dtype='datetime64[ns]', freq='D')

dates = pd.date_range?

In [32]:
dates = pd.date_range('20130101', periods=6)
np.array?

In [ ]:
hm = pd.array

In [41]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'
                   })

df3 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(2)), dtype='float32'),
                    'D': np.array([2] * 2, dtype='int32'),
                    'E': pd.Categorical(['test', 'train']),
                    'F': 'foo'
                   })
df3 #this will produce a 2 row dataframe

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  2   test  foo
1  1.0 2013-01-02  1.0  2  train  foo

In [48]:
df2.dot?

In [51]:
df = pd.DataFrame?

In [52]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.187019 -0.807575  0.061084 -0.119846
2013-01-02 -0.267337  0.207546 -0.144981 -0.469462
2013-01-03  0.380910  0.400025 -1.361237 -1.726139
2013-01-04  0.501094  1.067158 -1.116274  0.989332
2013-01-05  0.280152 -0.218541 -0.958731 -0.162233
2013-01-06  2.023956 -0.139069  0.703232  0.132324

In [53]:
df.head()

                   A         B         C         D
2013-01-01  1.187019 -0.807575  0.061084 -0.119846
2013-01-02 -0.267337  0.207546 -0.144981 -0.469462
2013-01-03  0.380910  0.400025 -1.361237 -1.726139
2013-01-04  0.501094  1.067158 -1.116274  0.989332
2013-01-05  0.280152 -0.218541 -0.958731 -0.162233

In [54]:
df.index #describes the index columns

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [55]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [56]:
df.values

array([[ 1.18701925, -0.80757464,  0.06108448, -0.11984579],
       [-0.26733749,  0.2075456 , -0.14498079, -0.46946217],
       [ 0.3809103 ,  0.4000248 , -1.36123662, -1.72613928],
       [ 0.50109357,  1.06715819, -1.11627436,  0.98933201],
       [ 0.28015248, -0.21854074, -0.95873118, -0.16223347],
       [ 2.02395556, -0.13906926,  0.70323154,  0.13232438]])

In [57]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.684299  0.084924 -0.469484 -0.226004
std    0.805228  0.635284  0.801872  0.886618
min   -0.267337 -0.807575 -1.361237 -1.726139
25%    0.305342 -0.198673 -1.076889 -0.392655
50%    0.441002  0.034238 -0.551856 -0.141040
75%    1.015538  0.351905  0.009568  0.069282
max    2.023956  1.067158  0.703232  0.989332

In [63]:
df.T
df

                   A         B         C         D
2013-01-01  1.187019 -0.807575  0.061084 -0.119846
2013-01-02 -0.267337  0.207546 -0.144981 -0.469462
2013-01-03  0.380910  0.400025 -1.361237 -1.726139
2013-01-04  0.501094  1.067158 -1.116274  0.989332
2013-01-05  0.280152 -0.218541 -0.958731 -0.162233
2013-01-06  2.023956 -0.139069  0.703232  0.132324

In [64]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.119846  0.061084 -0.807575  1.187019
2013-01-02 -0.469462 -0.144981  0.207546 -0.267337
2013-01-03 -1.726139 -1.361237  0.400025  0.380910
2013-01-04  0.989332 -1.116274  1.067158  0.501094
2013-01-05 -0.162233 -0.958731 -0.218541  0.280152
2013-01-06  0.132324  0.703232 -0.139069  2.023956

In [65]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06  2.023956 -0.139069  0.703232  0.132324
2013-01-05  0.280152 -0.218541 -0.958731 -0.162233
2013-01-04  0.501094  1.067158 -1.116274  0.989332
2013-01-03  0.380910  0.400025 -1.361237 -1.726139
2013-01-02 -0.267337  0.207546 -0.144981 -0.469462
2013-01-01  1.187019 -0.807575  0.061084 -0.119846

In [69]:
# df.sort_value(by='B')
df.sort_values(by='B')

                   A         B         C         D
2013-01-01  1.187019 -0.807575  0.061084 -0.119846
2013-01-05  0.280152 -0.218541 -0.958731 -0.162233
2013-01-06  2.023956 -0.139069  0.703232  0.132324
2013-01-02 -0.267337  0.207546 -0.144981 -0.469462
2013-01-03  0.380910  0.400025 -1.361237 -1.726139
2013-01-04  0.501094  1.067158 -1.116274  0.989332

In [70]:
df['A']

2013-01-01    1.187019
2013-01-02   -0.267337
2013-01-03    0.380910
2013-01-04    0.501094
2013-01-05    0.280152
2013-01-06    2.023956
Freq: D, Name: A, dtype: float64

In [71]:
df[0:3]

                   A         B         C         D
2013-01-01  1.187019 -0.807575  0.061084 -0.119846
2013-01-02 -0.267337  0.207546 -0.144981 -0.469462
2013-01-03  0.380910  0.400025 -1.361237 -1.726139

In [73]:
df.loc[dates[0]]

A    1.187019
B   -0.807575
C    0.061084
D   -0.119846
Name: 2013-01-01 00:00:00, dtype: float64

In [74]:
df[dates[0]]

KeyError: Timestamp('2013-01-01 00:00:00', offset='D')