In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan, 6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [8]:
a = pd.Series([1,3,3])
type(a)

pandas.core.series.Series

In [23]:
print("yo")

yo

In [26]:
#documentation calls this a DataFrame - is any 2x2(? can they be more) with dat sets automatically a dataframe?
l = list(range(5))
# type(l) ## list

list

In [ ]:
data = pd.date_range

In [16]:
# data = pd.date_range(['2013-01-01', '2013-01-02'],dtype='datetime64[ns]', freq='D')
# DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
#                '2013-01-05', '2013-01-06'],
#               dtype='datetime64[ns]', freq='D')

dates = pd.date_range?

In [32]:
dates = pd.date_range('20130101', periods=6)
np.array?

In [ ]:
hm = pd.array

In [39]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'foo'
                   })

df3 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(2)), dtype='float32'),
                    'D': np.array([2] * 2, dtype='int32'),
                    'E': pd.Categorical(['test', 'train']),
                    'F': 'foo'
                   })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo