In [3]:
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
import seaborn as sns
from sqlite3 import dbapi2 as sq3
import os

In [2]:
ourschema = """
DROP TABLE IF EXISTS "candidates";
DROP TABLE IF EXISTS "contributors";
CREATE TABLE "candidates" (
    "id" INTEGER PRIMARY KEY NOT NULL, 
    "first_name" VARCHAR,
    "last_name" VARCHAR,
    "middle_name" VARCHAR,
    "party" VARCHAR NOT NULL
);

CREATE TABLE "contributors" (
    "id" INTEGER PRIMARY AUTOINCREMENT NOT NULL,
    "last_name" VARCHAR,
    "first_name" VARCHAR,
    "middle_name" VARCHAR,
    "street_1" VARCHAR,
    "street_2" VARCHAR,
    "city" VARCHAR,
    "state" VARCHAR,
    "zip" VARCHAR,
    "amount" INTEGER,
    "date" DATETIME,
    "candidate_id" INTEGER NOT NULL,
    FOREIGN KEY(candidate_id) REFERENCES candidates(id)
);
"""

In [5]:
PATHSTART = "."
def get_db(dbfile):
    sqlite_db = sq3.connect(os.path.join(PATHSTART, dbfile))
    return sqlite_db
# print(get_db('something.txt'))

<sqlite3.Connection object at 0x119646b10>

In [6]:
def init_db(dbfile, schema):
    db = get_db(dbfile)
    db.cursor().executescript(schema)
    db.commit()
    return db

In [10]:
dfcand = pd.read_csv("candidates.txt", sep="|")
dfcand

    id   first_name   last_name middle_name party
0   33       Joseph       Biden         NaN     D
1   36       Samuel   Brownback         NaN     R
2   34      Hillary     Clinton          R.     D
3   39  Christopher        Dodd          J.     D
4   26         John     Edwards         NaN     D
5   22      Rudolph    Giuliani         NaN     R
6   24         Mike      Gravel         NaN     D
7   16         Mike    Huckabee         NaN     R
8   30       Duncan      Hunter         NaN     R
9   31       Dennis    Kucinich         NaN     D
10  37         John      McCain         NaN     R
11  20       Barack       Obama         NaN     D
12  32          Ron        Paul         NaN     R
13  29         Bill  Richardson         NaN     D
14  35         Mitt      Romney         NaN     R
15  38          Tom    Tancredo         NaN     R
16  41         Fred    Thompson          D.     R

In [16]:
dfcwci=pd.read_csv("contributors_with_candidate_id.txt", sep="|")
# dfcwci

In [13]:
del dfcwci["id"]

In [15]:
dfcwci.head()

,last_name,first_name,middle_name,street_1,street_2,city,state,zip,amount,date,candidate_id
0,Agee,Steven,NaN,549 Laurel Branch Road,NaN,Floyd,VA,24091,500.0,2007-06-30,16
1,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,250.0,2007-05-16,16
2,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,50.0,2007-06-18,16
3,Ahrens,Don,NaN,4034 Rennellwood Way,NaN,Pleasanton,CA,94566,100.0,2007-06-21,16
4,Akin,Charles,NaN,10187 Sugar Creek Road,NaN,Bentonville,AR,72712,100.0,2007-06-16,16